
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Connexion</title>
</head>

<body>

  <header>
    <a href="/" class="logo">
      <img class="img-thumbnail" src="/images/logopng.png" />
    </a>
    <nav class="navbar">
      <ul>
        <li><a href="/" class="active">Accueil</a></li>
        <li><a href="/#contact">Conctat</a></li>
      </ul>
    </nav>
    <div class="fas fa-bars"></div>
  </header>
  <div class="ImageHeader">
    <div class="container">
      <div class="image">
        <img src="/images/logopng.png" alt="">
      </div>
     
          <div class="texte">
            <h2>CONNEXION</h2>
          </div>
          <form action="/
            " method="post">
           
                <input type="nom" name="nom" placeholder="nom">
                  
                    <input type="prenom" name="prenom" placeholder=" prenom">
                    <button type="submit" value="Submit">Connecter</button>
          </form>
          <div class="texte">
            <p>Vous aviez pas de compte? <a class="sanp" href="/inscription"><span>Cliquer ici</span></a></p>
          </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>

</html>