@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 100%;
  margin: 0;
  padding: 90px 10px 10px;
  margin-top: 3px;
  background-color: #fafafa;
  font-family: 'Roboto Serif',
    serif;
  /* background: url('/images/2.jpg') no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%; */
}


/* navbar debut */
header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  transition: .2s linear;
  z-index: 1000;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -9px #cacd
}

.logo img {
  width: 60px;
  height: 50px;
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 1.5rem;
  color: #333;
  transition: .2s linear;
  text-decoration: none;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
  color: #2288ff;

}

header .fa-bars {
  font-size: 3rem;
  color: #2288ff;
  cursor: pointer;
  display: none;
}

@media (max-width:768px) {
  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    transition: .2s linear;
    background-color: antiquewhite;
    width: 100%;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a {
    display: block;
    font-size: 3rem;
  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }

  active {
    top: 5.5rem;
    opacity: 1;
  }

}

/* navbar fin */


.ImageHeader {
  background: url('/images/4.jpg') no-repeat center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  text-align: center;
  bottom: 0;
  border-radius: 10px;
  position: relative;
}

input {
  margin-bottom: 2rem;
  height: 3rem;
  width: 20rem;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid;
  font-family: 'Roboto Serif',
    serif;
}

input:focus {
  border: 1px solid #2288ff;
  outline-offset: 0px;
  outline: none;
}


button {
  width: 9rem;
  height: 3rem;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background-color: #2288ff;
  color: white;
  border-radius: 5px;
  font-size: 23px;
  font-family: 'Roboto Serif',
    serif;
}

button:hover {
  background-color: white;
  color: #2288ff;
  border: 1px solid #2288ff;
  cursor: pointer;
}


.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 555px;
  border: 1px solid #2288ff;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}


.image {
  border: 1px solid #2288ff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 15px 0;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100px;
  height: 100px;
  padding: 1px;
}

.texte {
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.sanp {
  background-color: #2288ff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto Serif',
    serif;
  text-decoration: none;
  padding: 5px;
}

.sanp:hover {
  background-color: white;
  color: #2288ff;
  border: 1px solid #2288ff;
  cursor: pointer;
}

.validation {
  color: #f8001b;
}

@media (max-width: 900px) {
  body {
    width: 100%;

  }

  form {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;

  }

  .texte {
    font-size: 16px;
  }

  form {
    padding: 10px;
    width: 90%;
    height: 230px;
    /* border: 1px solid red; */
    align-items: center;
    align-content: center;
  }

  input {
    height: 6rem;
    width: 35rem;
  }

  button {
    width: 16rem;
    height: 5rem;
  }
}

@media (max-width: 400px) {
  .container {
    width: 305px;
    height: 529px;
  }

  input {
    width: 27rem;
  }
}
